@charset "UTF-8";

body {
	color: #4E4E4E;
}

li {
	list-style: none;
}

.header {
	height: 60px;
	background: #FFC185;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 60px;
}

.container {
	max-width: 950px;
	margin: 0 auto;
	text-align: center;
}

.top-content-wrap {
	margin-top: 40px;
}

.random-button {
	width: 210px;
	background: #FFC185;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 15px;
	padding: 15px 0;
	font-size: 20px;
	font-weight: bold;
	box-sizing: border-box;
}

.choice-content-wrap {
	margin-top: 25px;
}

.choice-title {
	/* margin: 25px 0 20px; */
}

.choice-genre {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
}

.genre {
	width: 120px;
	border: 3px solid #FFC185;
	border-radius: 4px;
	box-sizing: border-box;
	font-weight: bold;
}

.genre a {
	display: block;
	padding: 15px 0;
	color: #4E4E4E;
}

.genre:hover {
	background: #FFC185;
	color: #FFFFFF;
}

.genre:not(:first-child) {
	margin-left: 10px;
}

.select-choice-wrap {
	margin-top: 25px;
}

.select-menu-image {
	width: 300px;
	height: auto;
	margin-top: 10px;
}

.select-menu {
	margin-top: 15px;
	font-size: 20px;
	font-weight: bold;
}

.select-button {
	width: 210px;
	background: #FFC185;
	border-radius: 4px;
	margin: 10px auto 0;
	font-size: 15px;
	font-weight: bold;
	box-sizing: border-box;
}

.select-button a {
	display: block;
	padding: 15px 0;
	color: #4E4E4E;
}

.select-button a:hover {
	color: #FFFFFF;
}